	<style>
	.h2{
		font-size: 18pt; 
		font-family: "Bookman Old Style";
		}
	.text{
		text-align:justify;
		font-family: "High Tower Text";
		font-size: 14pt;
		word-spacing:27px;
		line-height: 25px;
	}
	.text1{
		margin-left: 10px;
		margin-top:60px;
		font-family: "High Tower Text";
		font-size: 14pt;
		word-spacing:120px;
		line-height: 25px;
	}
	.p1{
		margin-left: 10px;
		margin-top: 40px;
		}
	.p2{
		margin-left: 100px;
		margin-top: 40px;
		}
	.p3{
		margin-left: 100px;
		margin-top: 40px;
		}
		
	</style>